@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



/*..........................................................................................................................*/



.header__container {

    margin-right: auto;
    max-width: 1440px;
    margin-left: auto;
    position: relative;
}




.menu__container {

    align-items: center;
    overflow: hidden;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;

}

.nav {
    max-width: 1440px;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    gap: 33px;
    padding: 20px 256px 20px 111px;

}

.header__menu a {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.header__subscritions {
    display: flex;
}


.menu__subscription {
    display: block;
    border-radius: 4px;
    background-color: #AD2717;
    padding: 8px 16px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    transition: all .3s;
}

.menu__subscription:hover {
    background-color: #7e1c11;
}


.info {
    max-width: 1440px;
    margin: 0 auto 576px;
}


.info__container {
    position: absolute;
    top: 0;
    z-index: -1;
}

.header__background {
    width: 100%;
}

.info__container__main {
    position: absolute;
    top: 220px;
    left: 150px;
}


.header__info {
    display: flex;
    gap: 8px;
}

.info__block {
    display: block;
    padding: 8px 20px;
    background-color: #222222;
    border-radius: 100px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}

.header__name {
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
    font-size: 52px;
    line-height: 64px;
    color: #ffffff;
    padding: 8px 0 12px;
}

.author {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 20px;
}

.info__subscribtion {
    border-radius: 4px;
    background-color: #AD2717;
    padding: 8px 24px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    transition: all .3s;
}

.info__subscribtion:hover {
    background-color: #7e1c11;
}


.popup__screen{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #222222;
    padding: 12px 12px 24px 24px;
    border-radius: 12px;
    max-width: 308px;
    border: 1px solid #FFFFFF;
}

.popup__screen_active{
    display: none;
}

.popup__text{
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.popup__subscribtion{
    padding: 8px 24px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
}

.popup__subscribtion:hover{
    border: 1px solid #222222;
    background-color: #ffffff;
    color: #222222;
}


.popup__close__subscrib{
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 248px;
}


.close__line{
    display: block;
    width: 20px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 4px;
}

.close__line:first-child{
    transform: translateY(-50%) rotate(45deg);
}

.close__line:last-child{
    transform: translateY(-50%) rotate(-45deg);
}



/*............................................................................................................*/

.poster {
    padding: 80px 40px 0;
    max-width: 1440px;
    margin: 0 auto 80px;

}

.poster__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 44px;
}

.poster__name {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: black;
}

.poster__subscribtion {
    display: block;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 8px 24px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    transition: all .3s;
}

.poster__subscribtion:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: #000000;
    color: #ffffff;
}


.poster__container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.poster__block {
    position: relative;
}

.poster__block__container {
    display: flex;
    position: absolute;
    bottom: 36px;
    left: 24px;
    flex-direction: column;
    align-items: flex-start;
}


.poster__block__time {
    color: #ffffff;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 28px 0 8px;
}

.poster__block__name {
    color: #ffffff;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 16px;
}

.poster__block__info {
    display: flex;
    gap: 8px;
}



.biography {
    max-width: 1440px;
    padding: 30px 40px 0 40px;
    background-color: #222222;
    margin: 0 auto;
}

.biography__head {
    display: flex;
    justify-content: space-between;
}

.biography__name {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
}

.biography__subscribtion__container {
    display: flex;
    gap: 20px;
}

.biography__subscribtion {
    display: block;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #222222;
    padding: 8px 24px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    transition: all .3s;
}

.biography__subscribtion:hover{
    border: 1px solid #222222;
    background-color: #ffffff;
    color: #222222;
}


.biography__container {
    display: flex;
    gap: 28px;
    padding: 43px 0 53px 70px;
}

.biography__img {
    position: relative;
    max-width: 405px;
}

.portrait {
    padding: 64px 68px 0 0;
    position: relative;
    z-index: 2;
}

.portpait__shadow {
    width: 337px;
    height: 452px;
    background-color: #5C42234D;
    position: absolute;
    top: 0;
    left: 68px;
    z-index: 1;
}

.img__name {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #848484;
    z-index: 10;
}

.biography__text {
    padding: 48px 0 108px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.biography__paragraph {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}






.media {
    max-width: 1440px;
    padding: 30px 40px 0 40px;
    margin: 0 auto;
}


.media__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 44px;
}

.media__name {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: black;
}

.media__subscribtion {
    display: block;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 8px 24px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    transition: all .3s;
}

.media__subscribtion:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: #000000;
    color: #ffffff;
}

.media__container {
    display: flex;
    gap: 28px;
}

.article {
    width: 666px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
}

.article__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
}

.article__class {
    display: block;
    max-width: 63px;
    padding: 5px 12px;
    background-color: #EEEEEE;
    border-radius: 100px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #BBBBBB;
}

.article__name {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
}

.article__date {
    color: #CCCCCC;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.article__container__item{
    padding: 50px 0 0;
}

.article__button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #F1F1F1;
    position: relative;
}

.button__line {
    display: block;
    width: 2px;
    height: 12px;
    background-color: #000000;
    position: absolute;
    top: 10px;
    left: 19px;
    transform: rotate(-45deg);
}

.button__line__item {
    display: block;
    width: 2px;
    height: 12px;
    background-color: #000000;
    position: absolute;
    bottom: 10px;
    left: 20px;
    transform: rotate(45deg);
}

.media__img__container{
    display: flex;
    gap: 28px;
}


.media__block{
    text-decoration: none;
}

.media__block__img{
    padding-bottom: 20px;
}


.media__block__class{
    display: block;
    max-width: 63px;
    padding: 5px 12px;
    background-color: #EEEEEE;
    border-radius: 100px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #BBBBBB;
}

.media__block__name{
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 12px 0 12px;
}

.media__block__date{
    color: #CCCCCC;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}


.footer__container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #222222;
}

.footer__contayner__item{
    padding: 40px 231px 20px 40px;
}

.footer__block__container{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.footer__block__container:nth-child(4){
    padding-left: 117px;
}

.footer__block{
    width: 203px;
}

.footer__block__name{
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 12px;
}

.footer__block__menu a{
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    padding-bottom: 12px;
}

.footer__block__img{
    display: flex;
    gap: 16px;
}

.footer__info{
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #555555;
    padding-top: 56px;
}



@media(max-width:1024px) {
    .menu__container {
        padding: 20px;
    }

    .header__menu {
        gap: 19px;
        padding: 20px 30px;
    }

    .info {
        margin-bottom: 350px;
    }

    .info__container__main {
        top: 180px;
        left: 40px;
    }

    .header__info {
        display: flex;
        gap: 3px;
    }


    .info__block {
        padding: 4px 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .header__name {
        font-size: 35px;
        line-height: 40px;
        padding: 4px 0 6px;
    }

    .author {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 16px;
    }

    .info__subscription {
        padding: 6px 18px;
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .header__menu {
        display: none;
    }

    .menu__subscription {
        display: none;
    }

    .info__container {
        overflow: hidden;
        max-width: 768px;
    }

    .header__background {
        width: 1024px;
    }

}